.nav-link {
    padding-right: 8px;
}

#navigation {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #EEEEEE;
    background: #EEEEEE;    
}

.wrapper {
    padding-top: 10px;
}

.hidden {
    display: none;
}
